mixin picture(options)
    picture
        if options.srcWebp && !options.src
            img(
                class=!options.noLazy ? "lazy lazyload" : ""
                type="image/webp"
                src=`${options.isOutside ? '../' : ''}assets/img/webp/${options.srcWebp}`
                width=options.width
                height=options.height
            )&attributes(attributes)
        else if options.srcWebp && options.src
            source(type="image/webp" srcset=`${options.isOutside ? '../' : ''}assets/img/webp/${options.srcWebp}`)
        if options.src
            source(type="image/jpeg" srcset=`${options.isOutside ? '../' : ''}assets/img/${options.src}`)
            img(
                class=!options.noLazy ? "lazy lazyload" : ""
                src=`${options.isOutside ? '../' : ''}assets/img/${options.src}`
                width=options.width
                height=options.width
                alt=""
            )&attributes(attributes)
    